<div class="row">
  <div class="col-xs-12">
    <img
      [src]="eventInput.extendedProps.imagePath"
      alt="{{ eventInput.extendedProps.imageAlt }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Event Name: {{ eventInput.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Last Update: {{ eventInput.extendedProps.updateDate }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button 
        (click)="onSelect('upsert')"
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Event <span class="caret"></span>
      </button>
    </div>
    <ul class="dropdown-menu">
        <li><a href="#">Edit Event</a></li>
        <li><a href="#">Delete Event</a></li>
      </ul>
  </div>
</div>